:root {
  --primary-color: #353535;
  --secondary-color: #d1d1d1;
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid-container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 8fr 1fr;
}

.grid-item {
  background-color: var(--secondary-color);
  /* border: 1px solid #ccc; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  grid-column: span 2;
  background-color: var(--primary-color);
  justify-content: start;
  padding-left: 50px;
  color: var(--secondary-color);
  font-size: 20px;
  z-index: 2;
}

.sounds-footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  padding: 0 20px;
  box-sizing: border-box;
}

.playlists-footer {
  background-color: var(--primary-color);
  padding: 0 20px;
  box-sizing: border-box;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
.playlists {
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 2;
}
